<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="serviceName" source="app.service-name" defaultValue="java-test"/>
    <springProperty scope="context" name="appEnv" source="app.env" defaultValue="local"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <message/>
                <mdc/>
                <keyValuePairs/>
                <stackTrace/>
                <pattern>
                    <pattern>{"service":"${serviceName}","env":"${appEnv}"}</pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL:INFO}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
